:local .EducationItem {
  padding-left: 1.5em;
  border-left: 1px solid #ddd;
  margin: 1.5em 0 0.5em;
}

:local .location {
  font-weight: 400;
}

:local .description {
}

:local .dateRange {
  display: block;
}

@media print, screen and (min-width: 768px) {
  :local .dateRange {
    margin-left: 1em;
    display: inline;
  }
}
